{% extends "base.html" %}
{% block title %}MemoAtlas | Forest Map{% endblock %}
{% block content %}
<div class="map-page">
  <div id="network"></div>
  <a href="{{ url_for('forest.dashboard') }}" class="map-back">&larr; forest</a>
  <div class="map-controls">
    <button id="pulse-btn" class="btn btn-sm">PULSE</button>
  </div>
</div>
<script src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
<script src="{{ url_for('static', filename='js/graph.js') }}"></script>
{% endblock %}
